@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #050505;
  color: white;
  overflow: hidden;
  font-family: "JetBrains Mono", monospace;
}

.boot-screen {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.terminal {
  width: min(900px, 90%);
}

.terminal p {
  color: #d4d4d4;
  margin-bottom: 12px;
  font-size: 1rem;
  opacity: 0;

  animation: fadeIn .6s forwards;
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
